body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

//VARIABLES
$cell-size:35px;
$fleet-size:400px;

#container{
    height: 100%;
    width: 100%;
    background-color: red;
}


.game-area{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fleet{
    background-color: purple;
    height: $fleet-size;
    width: $fleet-size;
    .ship{
        background-color: rgba(0, 64, 255, 0.806);
        margin: 10px;
        height: $cell-size - 2px;
        z-index: 100;
    }
    .ship-1{
        width: $cell-size;
    }
    .ship-2{
        width: $cell-size * 2;
    }
    .ship-3{
        width: $cell-size * 3;
    }
    .ship-4{
        width: $cell-size * 4;
    }
    .ship-5{
        width: $cell-size * 5;
    }
}

.boards{
    width: fit-content;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .board{
        border: solid yellow 2px;
        margin: 5px;
        padding: 20px;
        height: fit-content;
        width: fit-content;
        display: grid;
        grid-template-rows: repeat(10,$cell-size+2px);
        grid-template-columns: repeat(10,$cell-size+2px);
        .cell{
            height: $cell-size;
            width: $cell-size;
            background-color: black;
        }
    }

    .cell::before{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        left:-40px;
        top:7px;
        font-size: 15px;
        color: black;
        content: attr(data-displayx);
    }
    .cell[data-displayy="1"]::after{
        top:-34px;
    }
    .cell::after{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        top:-18px;
        left:12px;
        font-size: 15px;
        color:black;
        content: attr(data-displayy);
    }
    
}

//dragging effect:
.draggable.dragging{
    opacity: .5;
}

























//reset css

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}